@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
  --box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.1);
  --color-error: hsl(357, 89%, 66%);
}
// Theme colors
.theme-light {
  --color-accent: hsl(0, 0%, 100%); //

  --color-tertiary: hsl(0, 0%, 52%); //Light Mode Input
  --color-primary: hsl(0, 0%, 98%); //Light Mode Background
  --color-secondary: hsl(200, 15%, 8%); //Light Mode Text
  --color-white: hsl(0, 0%, 100%); //
}

.theme-dark {
  --color-secondary: hsl(0, 0%, 100%); //Light Mode Input
  --color-tertiary: hsl(0, 0%, 100%);

  --color-accent: hsl(209, 23%, 22%); //Dark Mode Elements
  --color-primary: hsl(207, 26%, 17%); //Dark Mode Background
  --color-white: hsl(0, 0%, 100%); //
}

// Responsive Break-points
// $bp-large: 78.15em; // 1250px
// $bp-medium: 61.25em; // 980px
// $bp-small: 37.5em; // 600px
// $bp-smallest: 31.25em; // 500px

$bp-exra-large: 1250px; // 1250px
$bp-large: 980px; // 980px
$bp-medium: 768px; // 980px
$bp-small: 576px; // 600px
$bp-smallest: 500px; // 500px

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1 rem = 10px

  @media only screen and (max-width: $bp-medium) {
    font-size: 57%; //1 rem = 9px
  }
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.4rem;
  line-height: 1.6;
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.outer-container {
  display: grid;

  grid-template-rows: 7rem 1fr;
  grid-template-columns: 1fr;

  padding-bottom: 4rem;
}

.topbar,
.main-container {
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;

  padding: 0 2rem;
  // overflow: hidden;
}

.topbar-container {
  background-color: var(--color-accent);
  display: flex;
  align-items: center;

  box-shadow: var(--box-shadow);
}

.main-container {
  margin-top: 3rem;
}
