@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

// Theme colors
.theme-light {
  --color-accent: hsl(0, 0%, 100%); //

  --color-tertiary: hsl(0, 0%, 52%); //Light Mode Input
  --color-primary: hsl(0, 0%, 98%); //Light Mode Background
  --color-secondary: hsl(200, 15%, 8%); //Light Mode Text
  --color-white: hsl(0, 0%, 100%); //
}

.theme-dark {
  --color-secondary: hsl(0, 0%, 100%); //Light Mode Input
  --color-tertiary: hsl(0, 0%, 52%); //Light Mode Input

  --color-accent: hsl(209, 23%, 22%); //Dark Mode Elements
  --color-primary: hsl(207, 26%, 17%); //Dark Mode Background
  --color-white: hsl(0, 0%, 100%); //
}

// Responsive Break-points
$bp-large: 78.15em; // 1250px
$bp-medium: 61.25em; // 980px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.4rem;
  line-height: 1.6;
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.outer-container {
  display: grid;

  grid-template-rows: 7rem 1fr;
}

.inner-container {
}

.topbar,
.main-container {
  max-width: 120rem;
  margin: 0 auto;
  overflow: hidden;
}

.topbar-container {
  background-color: var(--color-accent);
  display: flex;
  align-items: center;
}

.topbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
