.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }
}

.search {
  flex: 0 0 35%;
  position: relative;

  @media only screen and (max-width: $bp-medium) {
    flex: 0 0 40%;
  }

  @media only screen and (max-width: $bp-small) {
    width: 100%;
    // flex: 0 0 100%;
  }

  &__input {
    width: 95%;
    padding: 1.5rem 5rem;
    border: none;
    background-color: var(--color-accent);
    color: var(--color-tertiary);
    border-radius: 5px;

    box-shadow: var(--box-shadow);
    transition: all 0.2s;

    @media only screen and (max-width: $bp-small) {
      flex: 0 0 100%;
      width: 100%;
    }
  }

  &__input:focus {
    width: 100%;
    outline: none;

    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  }

  &__input::placeholder {
    font-size: 1.2rem;
    color: currentColor;
  }

  &__btn {
    color: var(--color-tertiary);
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s;

    position: absolute;
    left: 2rem;
    top: 1.5rem;

    &:active {
      transform: translateY(1px);
    }
  }
  &__icon {
    width: 1.6rem;
    height: 1.6rem;

    fill: currentColor;
  }
}

.filter {
  flex: 0 0 15%;
  position: relative;

  @media only screen and (max-width: $bp-large) {
    flex: 0 0 20%;
  }

  @media only screen and (max-width: $bp-medium) {
    flex: 0 0 30%;
  }
  @media only screen and (max-width: $bp-small) {
    width: 50%;

    margin-top: 4.5rem;
  }

  &__box,
  &__regions {
    padding: 1.2rem 2rem;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
  }

  &__box {
    background-color: var(--color-accent);
    display: flex;
    justify-content: space-between;
  }
  &__text {
    font-size: 1.2rem;
    font-weight: 600;
  }
  &__btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__icon {
    width: 1.7rem;
    height: 1.7rem;

    fill: var(--color-secondary);

    // transform: rotate(180deg);
    // transition: all 0.2s;
  }

  &__icon-rotate {
    transform: rotate(180deg);
  }

  &__regions {
    list-style: none;
    background-color: var(--color-accent);
    margin-top: 0.3rem;

    position: absolute;
    width: 100%;

    display: none;

    transition: all 2s;
  }

  &__regions--expanded {
    display: block;
  }

  &__regions-item {
    cursor: pointer;
  }

  &__regions-item:not(:last-child) {
    margin-bottom: 0.3rem;
  }

  &__regions-link {
    color: var(--color-secondary);
    font-size: 1.1rem;
    font-weight: 600;

    text-decoration: none;
  }
}
